[Unit]
Description=Iptables rules
After=syslog.target network.target

[Service]
Type=oneshot
ExecStart={{ iptables_rules_path }}/iptables-rules
ExecStop=/sbin/iptables -F
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target