* filter

-P INPUT ACCEPT
-P FORWARD ACCEPT
-P OUTPUT ACCEPT

# Allow local traffic
-A INPUT -i lo -j ACCEPT
-A OUTPUT -o lo -j ACCEPT

-A INPUT -p tcp -i lo --dport 25 -j ACCEPT

-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Laisse sortir les reponses aux requetes entrantes
-A OUTPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Ouverture ports en entrée -- TCP
{% for adrr in iptables_input_allowed_tcp_port %}
-A INPUT -p tcp --dport {{ adrr }} -j ACCEPT
{% endfor %}

# Ouverture ports en entrée -- UDP
{% for adrr in iptables_input_allowed_udp_port %}
-A INPUT -p udp --dport {{ adrr }} -j ACCEPT
{% endfor %}

# Ouverture ports en entrée -- TCP-- restreints à certaines addresses
{% for adrr in iptables_allowed_restricted_input_tcp_ports %}
-A INPUT -s {{adrr.ip}} -p tcp --dport {{ adrr.port }} -j ACCEPT
{% endfor %}

# Ouverture ports en entrée -- UDP-- restreints à certaines addresses
{% for adrr in iptables_allowed_restricted_input_udp_ports %}
-A INPUT -s {{adrr.ip}} -p udp --dport {{ adrr.port }} -j ACCEPT
{% endfor %}

# Ouverture ports en entrée -- transferts TCP
{% for adrr in iptables_input_transfert_allowed_tcp_port %}
-A INPUT -s {{adrr.ip}} -p tcp --sport {{ adrr.sport }} --dport {{ adrr.dport }} -j ACCEPT
{% endfor %}

# Ouverture ports commun en sortie -- TCP
{% for adrr in iptables_allowed_output_tcp_ports %}
-A OUTPUT -p tcp --dport {{ adrr }} -j ACCEPT
{% endfor %}

# Ouverture ports commun en sortie -- UDP
{% for adrr in iptables_allowed_output_udp_ports %}
-A OUTPUT -p udp --dport {{ adrr }} -j ACCEPT
{% endfor %}

# Drop all other traffic.
-A INPUT -j DROP


# Creation de la la chaine LOGDROPIN pour LOGuer les paquets refuses en entree
-N LOGDROPIN
-A INPUT -j LOGDROPIN
-A LOGDROPIN -j LOG --log-level debug --log-prefix "DROP-IN " -m state --state NEW
-A LOGDROPIN -j DROP

# Creation de la la chaine LOGDROPOUT pour LOGuer les paquets refuses en sortie (Tout sauf ICMP)
-N LOGDROPOUT
-A OUTPUT -j LOGDROPOUT
-A LOGDROPOUT -j LOG --log-level debug --log-prefix "DROP-OUT " -m state --state NEW
COMMIT
